# 1

In [2]:
#Импортируйте библиотеки pandas и numpy.
import numpy as np
import pandas as pd

#Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. 
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
#Создайте датафреймы X и y из этих данных.
data = boston["data"]
data.shape

(506, 13)

In [5]:
feature_names = boston["feature_names"]
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [6]:
target = boston["target"]
target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [7]:
X = pd.DataFrame(data, columns = feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [9]:
y = pd.DataFrame(target, columns = ["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [10]:
#Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) 
#с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от 
#всех данных, при этом аргумент random_state должен быть равен 42. 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [11]:
#Создайте модель линейной регрессии под названием lr с помощью класса 
#LinearRegression из модуля sklearn.linear_model. 
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [12]:
#Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
lr.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [14]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
48     14.4   9.332680
96     21.4  25.019074
166    50.0  35.971376
131    19.6  18.936759
299    29.0  31.880263
149    15.4  13.992274
470    19.9  19.995305
234    29.0  32.413926
328    19.3  21.489609
2      34.7  30.101023

In [15]:
#Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred      error
48     14.4   9.332680  -5.067320
96     21.4  25.019074   3.619074
166    50.0  35.971376 -14.028624
131    19.6  18.936759  -0.663241
299    29.0  31.880263   2.880263

In [16]:
from sklearn.metrics import r2_score
r2_score_1 = r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_1

0.5820813418850818

# 2

In [17]:
#Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
#Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42. 
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

In [18]:
#Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, 
#но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], чтобы получить 
#из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor в данном методе 
#для аргумента y предпочтительно применение массивов вместо датафрейма.
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [19]:
#Сделайте предсказание на тестовых данных и посчитайте R2.
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [20]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
48     14.4  19.045701
96     21.4  22.209731
166    50.0  47.484700
131    19.6  18.812710
299    29.0  31.175402
149    15.4  14.573394
470    19.9  17.872934
234    29.0  26.018255
328    19.3  20.786845
2      34.7  35.894667

In [21]:
r2_score_2 = r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_2

0.8662784087422306

In [22]:
#Сравните с результатом из предыдущего задания.
#Напишите в комментариях к коду, какая модель в данном случае работает лучше.
r2_score_1 < r2_score_2

True

### Вывод: мдель RandomForestRegressor работает лучше, чем модель LinearRegression

# 3

In [24]:
#Вызовите документацию для класса RandomForestRegressor,
?RandomForestRegressor

In [25]:
#найдите информацию об атрибуте feature_importances. 
#feature_importances_ : array of shape = [n_features]
#The feature importances (the higher, the more important the feature).

#С помощью этого атрибута найдите сумму всех показателей важности, 
print(model.feature_importances_)

[0.03057148 0.00122029 0.00675958 0.00104405 0.02040579 0.46150436
 0.01199134 0.06783336 0.00315599 0.02392983 0.01943751 0.01174809
 0.34039834]

In [26]:
model.feature_importances_.sum()

1.0

In [27]:
#установите, какие два признака показывают наибольшую важность.
max_value_idx1 = model.feature_importances_.argmax()
max_value_idx1

5

In [28]:
max_value_idx2 = 0
max_value = model.feature_importances_[max_value_idx2]
for i in range(model.n_features_):
    if max_value < model.feature_importances_[i] and i != max_value_idx1:
        max_value = model.feature_importances_[i]
        max_value_idx2 = i
print(max_value_idx2)

12